<nav class="p-4 space-x-2">
  <a
    class="{{ 'font-black' if page.url == '/' }}"
    href="/"
  >
    Home
  </a>
  <a
    class="{{ 'font-black' if page.url == '/about/' }}"
    href="/about"
  >
    About
  </a>
</nav>
