@import 'tailwindcss' source('../../src');
@import './base.css' layer(base);
@import './components.css' layer(components);
@import './utilities.css' layer(utilities);

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@utility container {
	margin-inline: auto;
	padding-inline: 2rem;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}
