{# This page is built with nunjucks! #}

{% set title = 'Home' %}
{% extends "layout.njk" %}

{% block body %}
  <main class="container py-8">
    <h1 class="text-[62px]">This is the {{ title | lower }} page.</h1>
  </main>
{% endblock %}
