{% set title = 'Home' %}
{% extends "_includes/layout.twig" %}

{% block body %}
  <main class="container py-16">
    <div class="prose max-w-none">
      <h1>Welcome to the TEA Stack!</h1>
      <p>This page is authored in twig at <code>src/index.twig</code></p>
    </div>
  </main>
{% endblock %}
