{% set title = 'Home' %}
{% extends "_includes/layout.twig" %}

{% block body %}
  <main class="container prose py-16">
    <h1>Welcome to the TEA Stack!</h1>
    <p>This page is authored in twig at <code>src/index.twig</code></p>
  </main>
{% endblock %}
